#app {
  width: 100vw;
  height: 100vh;
}
 
.react-flow__panel {
  padding: 5px 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.react-flow__attribution {
  /* display: none; */
  visibility: hidden;
}

.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}
 
.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}